* {
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: #dce9df;
    background-image: url(img/morning.jpg);
    background-repeat: no-repeat;
}

h1 {
    font-size: 46px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

.container {
    width: 700px;
    height: 395px;
    position: absolute;
    padding: 70px 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #0e274d;
    border-radius: 20px;
    box-shadow: -10px 13px #008080;
}

    .box {
        margin-top: 65px;
    }

.input-titulo {
    width: 420px;
    height: 30px;
    margin-top: 20px;
    padding: 5px 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #2b3f3f;
    background-color: #cdd8d4;
    border: none;

}

.result-box {
    width: 550px;
    height: 30px;
    padding: 5px 15px;
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #cdd8d4;
}

.result-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    color: #364949;
    text-align: left;
    line-height: 30px;
}

.action-btn {
    width: 115px;
    height: 40px;
    padding: 8px 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    background-color: #008080;
    border: none;
    color: #cdd8d4;
}